@font-face {
    font-family: 'unown';
    src: URL('/assets/fonts/Unown.ttf') format('truetype');
  }

body{
    text-align: center;
    background-image: url('/assets/pokemon_x_and_y_cave_battle_background_1_by_phoenixoflight92_d844jms.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

/* Homepage */
.homepage{
    color: white;
    background-color: #525F8C;
    margin: 0px;
    display: cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}
.homepage > h1 {
    font-family: 'unown';
    font-size: 50px;
    margin-bottom: 0;
}
.homepageGrid{
    margin: 20px 0px;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    background-color: white;
}
.homeplatGrid > div {
    display: flex;
    align-items: center;
}
.homeImg{
    height: 150px;
    width: auto;
    filter: brightness(0%);
    align-items: center;
}
.start{
    width: 300px;
    height: 40px;
    border: none;
    font-size: 30px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.start:hover{
    background-color: #ffffff7f;
    font-family: 'unown';
}

/* Main Menu */
.mainMenu{
    color: white;
    background-color: #525F8C;
    margin: 0px;
    display: cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}
.mainMenu > h1 {
    font-family: 'unown';
    font-size: 50px;
    margin-bottom: 0;
}
.menuGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}

#howToPlayPopover{
    padding: 20px;
    border-radius: 20px;
}

/* Pokedex */
.pokedex{
    background-color: #525F8C;
    margin: 0px;
    display: cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    justify-content: space-between;
    color: white;
}

.pokedexGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    margin: 20px;
}

.dexBtn{
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 20%;
    background-color: #ffffff00;
    background-image: url(/assets/pokeball-pokemon-catch.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dexIcon{
    width: 125px;
    height: 125px;
    filter: brightness(60%)
}

.dexIcon:hover{
    width: 140px;
    height: 140px;
    filter: brightness(100%)
}

.dex-info{
    border-radius: 20px;
    padding: 10px;
}


/* Mode */
.mode{
    background-color: #525F8C;
    margin: 0px;
    display: cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    justify-content: space-between;
}

.modeGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
    padding: 50px 200px;
}
.modeGrid > div {
    border: solid;
    border-radius: 20px 20px 0px 0px;
}
.info {
    background-color: white;
    padding: 20px;
}
.imgGrid > img{
    width: 150px;
    height: auto;
    padding-bottom: 0px;
}

/* Rounds */
.rounds{
    background-color: #525F8C;
    margin: 0px;
    display: cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    justify-content: space-between;
}

.roundsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding: 25px 100px;
}

.roundImg{
    width: 200px;
    height: auto;
    padding-bottom: 15px;
    border-radius: 20px;
}

/* Gameplay */
.score{
    display: flex;
    justify-content:space-between;
    color: white;
    background-color: #525F8C;
}

.gameplay{
    padding: 20px 0px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.179);
}
.gameplay > button{
    background-image: url('/assets/pokeball-pokemon-catch.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    height: auto;
    width: 150px;
    border-radius: 25px;
    border: none;
    color: white;
}

.gameplay > button > p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.gameIcon{
    width: 125px;
    height: 125px;
    filter: brightness(60%)
}
.gameIcon:hover{
    width: 140px;
    height: 140px;
    filter: brightness(100%)
}

h2{
    color: white;
}

img{
    filter: brightness(100%)
}

.hidden{
    display: none
}

.white{
    color: white
}

.red{
    color: red;
}

.blue{
    color: blue;
}
